<%= form_with model: commentable.acomments.build do |f| %>
  <div class="field">
    <%= f.hidden_field :article_id, value: commentable.id %>
  </div>

    <p><%= f.text_field :body, placeholder:"Add a comment", class: "border-2 text-md px-1 border-gray-500" %></p>
    <br/>
    <p><%= button_tag(type: 'submit', class: "text-white text-md bg-red-500 border-0 py-0.5 px-2 focus:outline-none hover:bg-red-600 rounded") do %>
      Post Comment
    <% end %></p>
<% end %>
