<%= form_with model: commentable.acomments.build do |f| %>
    <%= f.number_field :article_id, value: commentable.id, class:"hidden" %>
  
    <div class="field">
      <%= f.text_area :body, placeholder:"Add a comment" %>
    </div>
  
    <div class="actions">
      <%= f.submit "Add Comments" %>
    </div>
  <% end %>