<h1><%= current_nutritionist.username %>'s POSTS</h1>
<% @articles.each do |article| %>
  <table>
      <tr>
        <td><%= link_to article.title, article_path(article) %></td>
      </tr>
  </table>
<% end %>