<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">

<h1 class="px-2 text-4xl mt-10 font-bold text-red-600">My Articles</h1><br/>
<div class="grid px-2 grid-cols-3 gap-3 overflow-y-auto h-screen">
  <% @articles.each do |article| %>
    <div class="mx-auto my-auto border-2 border-red-600 rounded-md">
      <div class="box-border bg-gradient-to-b from-yellow-400 h-52 w-72 border-b-2 border-red-600">
      <center>
      <h1 class="text-5xl px-1 pt-20 font-bold text-green-900 font-great-vibes opacity-100 hover:opacity-50 capitalize"><%= link_to article.title, article_path(article) %></h1>
      <h1 class="text-md px-1 font-bold capitalize">by <u><%= link_to current_nutritionist.username, articles_path(@article) %></u></h1>
      </center>
      </div>
      <h1 class="text-lg px-1 font-bold capitalize">Article</h1>
    </div>
  <% end %>
</div>