<div class="posts">
  <% @foods.each do |food| %>
    <section class="post">
    <%= cl_image_tag(food.food_key, :width=>100, :height=>100)%>
        <div class="description">
            <%= food.food_name %>
            <%= food.caption %>
        </div>
    </section>
  <% end %>
</div>