/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Open+Sans&display=swap");

.close {
  position: absolute;
  top: 10px;
  right: 20px;
}

/* Flash Messages */
#notice_wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
  background: rgba(17, 17, 17, 0.61);
  margin-right: 15%;
}
.alert,
.notice,
.error_messages {
  padding: 1rem 0;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  color: white;
  letter-spacing: 0.25rem;
}
